<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3><%= devskill.devskill %></h3>
  <h3>Complete: <%= devskill.done ? 'Yes' : 'No' %></h3>
  <a href="/devskills/<%= devskill.id %>/edit">Edit skill</a>
  <form action="/devskills/<%=devskill.id%>?_method=DELETE" method="POST">
    <button type="submit">X</button>
  </form>
</body>
</html>